
* {
  box-sizing: border-box;
}

body {
  background-color: #fbdaff;
  font-family: sans-serif;
}

h3 {
  color: rgb(245, 242, 242);
}
.topnav {
  overflow: hidden;
  background-color: #131720;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topnav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.topnav a svg {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
}

.topnav .search-container {
  margin-left: auto;
}

.topnav form {
  display: flex;
  align-items: center;
}

.topnav input[type="search"] {
  padding: 6px;
}

form{
  background-color: #151f30;
  width: 300px;
  height: 43px;
  border-radius: 11px;
  display: flex;
  align-items: center;
}

input {
  all: unset;
  font: 15px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 9px;
}

.thumbnail {
  height: 350px;
  width: 300px;
  border-radius: 19px;
}

.column {
  width: 25%;
padding: 10px;
box-sizing: border-box;
float: left;
}


.card{
  border-radius: 19px;
  padding: 15px;
  
  margin-bottom: 20px;

  --c: #c02eff; /* the border color */
  --b: 10px;    /* the border thickness*/
  --g: 5px;     /* the gap on hover */

  padding: calc(var(--g) + var(--b));
  --_g: #0000 25%,var(--c) 0;
  background: 
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g))
      var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
      conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
      0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
      transition: .3s, background-position .3s .3s;
      cursor: pointer; 

      background-color:  #131720;
      text-align: center;
  }

.card:hover {
      --_i: 100%;
      transition: .3s, background-size .3s .3s;
  }

  .reviewcard {
    background: linear-gradient(180deg, #000000, #151f30);
    color: rgb(250, 227, 197);
    padding: 20px;
    border-radius: 10px;
  }
  
  .reviewcard input[type="text"] {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
  }
  